

    <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Редактировать задачу</h1>
            <button class="button button-clear button-positive" ng-click="closeEditTask()">Отмена</button>
        </ion-header-bar>

        <!-- Modal content area -->

        <ion-content>

            <form ng-submit="editTask(curProj,curTask,taskToEdit)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="taskToEdit">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Сохранить задачу</button>
                </div>
            </form>

        </ion-content>

    </div>
