

    <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Редактировать задачу верхнего уровня</h1>
            <button class="button button-clear button-positive" ng-click="closeEditProject()">Отмена</button>
        </ion-header-bar>

        <!-- Modal content area -->

        <ion-content>

            <form ng-submit="editProject(curProj, projToEdit)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" ng-model="projToEdit">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Сохранить задачу верхнего уровня</button>
                </div>
            </form>

        </ion-content>

    </div>

