

<ion-side-menus>
    <!-- Center content -->


        <ion-side-menu-content>


        <ion-header-bar class="bar-dark">
            <button class="button button-icon" ng-click="toggleProjects()">
                <i class="icon ion-navicon"></i>
            </button>
            <h1 class="title">{{activeProject.title}}</h1>
            <!-- New Task button-->

            <button class="button button-plus" ng-click="newProject()">
                <i class="icon ion-plus">Добавить задачу первого уровня </i>
            </button>

        </ion-header-bar>


            <ion-view title="{{navTitle}}" class="bubble-background">
        <ion-content scroll="true">
            <!--<ion-nav-bar class="bar-stable nav-title-slide-ios7">-->
                <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
            <!--</ion-nav-bar>-->
            <!--<ion-nav-view name="menuContent" animation="slide-left-right"> </ion-nav-view>-->
            <ion-list>
                <ion-item ng-repeat="project in projects">
                    <input  type="checkbox" ng-click="projectDone()" class="ion-ios-circle-outline" ng-model="project.done"/>
                    <a class="done-{{project.done}}" href="" ng-click="selectProject(project,$index)"> {{project.title}}</a>
                    <span class="done-{{project.done}}">- {{project.vDate | date:'dd.MM.yyyy HH:MM'}}</span>
                    <button class="button-icon" ng-click="editProjectShow(project,  $index)"> <i class="ion-edit"></i></button>
                    <button class="button-icon" ng-click="deleteProject(project, $index)"><i class="ion-trash-b"></i> </button>
                    <ion-list>
                        <ion-item  ng-repeat="task in project.tasks">
                            <input  type="checkbox" ng-click="taskDone()" class="ion-ios-circle-outline" ng-model="task.done"/>
                            <span class="done-{{task.done}}">{{task.title}} - {{task.vDate | date:'dd.MM.yyyy HH:MM'}}</span>
                            <button class="button-icon" ng-click="editTaskShow(project, task, $index)"> <i class="ion-edit"></i></button>
                            <button class="button-icon" ng-click="deleteTask(project, task, $index)"><i class="ion-trash-b"></i> </button>

                        </ion-item>

                    </ion-list>

                </ion-item>
            </ion-list>

            <form ng-submit="createTask(task)" class="myform1" style="padding-bottom: 50px">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Введите что нужно сделать ?" ng-model="task.title">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Создать задачу</button>
                </div>
            </form>

        </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Проекты</h1>
            <button class="button button-icon ion-plus" ng-click="newProject()">
            </button>
        </ion-header-bar>
        <ion-content scroll="false">
            <ion-list>
                <ion-item ng-repeat="project in projects" ng-click="selectProject(project, $index)"
                          ng-class="{active: activeProject == project}">
                    {{project.title}}
                </ion-item>
            </ion-list>

        </ion-content>

        </ion-view>

    </ion-side-menu>
</ion-side-menus>

