


    <div class="modal">

        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Новая задача</h1>
            <button class="button button-clear button-positive" ng-click="closeNewTask()">Отмена</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content>

            <form ng-submit="createTask(task)">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Введите что нужно сделать ?" ng-model="task.title">
                    </label>
                </div>
                <div class="padding">
                    <button type="submit" class="button button-block button-positive">Создать задачу</button>
                </div>
            </form>

        </ion-content>

    </div>

