/* Empty. Add your own CSS if you like */
.done-true
{
    font-size: smaller;
    text-decoration: line-through;
    color: gray;

}

.done-false{
    font-size: smaller;
    font-weight: bold;
}

a.done-false
{
    text-decoration: none;
    color: #111111;
    font-weight: bold;
}
